---
import type { Post } from '$lib/posts';
import { Image } from 'astro:assets';
import Tag from './Tag.svelte';

interface Props {
    post: Post;
}

const { post } = Astro.props;

const href = post.type == 'BLOG' ? `/posts/${post.slug}` : post.link;
const target = post.type == 'LINK' ? '_blank' : undefined;
---

<a href={href} target={target} class="postcard" aria-label={post.title}>
    <Image width={600} src={post.image} alt="Post Cover Image" format="webp" />

    <div class="details">
        <Tag name={post.tag} />

        <h2 class="title">{post.title}</h2>

        <p class="description">
            {post.excerpt}
        </p>
    </div>
</a>

<style lang="scss">
    @import 'src/lib/media';

    .postcard {
        display: flex;
        flex-direction: column;
        gap: 0px;

        min-width: 325px;
        width: 325px;

        @include media('<400px') {
            min-width: 200px;
            flex-shrink: 0;
            width: 100%;
        }

        color: var(--text);
        background-color: var(--background-secondary);
        border-radius: 12px;

        flex: 1 1 40%;

        transition: box-shadow 0.2s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            color: var(--text);
            text-decoration: none;
            background-color: var(--background-secondary);
            box-shadow: 0 0 0 transparent, 0 0 0 5px var(--primary);
        }

        .title {
            font-size: calc(1.275rem + 0.3vw);
            font-weight: 500;
        }

        img {
            width: 100%;
            height: 300px;
            object-fit: cover;
            border-radius: 12px 12px 0 0;
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 6px;

            padding: 18px;

            .description {
                color: rgba(var(--text-rgb), 0.5);
            }
        }
    }
</style>
