---
import type { Post } from '$lib/posts';

import { getImage } from 'astro:assets';
import Tag from './Tag.svelte';

interface Props {
    post: Post;
}

const { post } = Astro.props;

const href = post.type == 'BLOG' ? `/posts/${post.slug}` : post.link;
const target = post.type == 'LINK' ? '_blank' : undefined;

const img = await getImage({ src: post.image, width: 800, format: 'webp' });
---

<a href={href} target={target} class="postcard" aria-label={post.title}>
    <div class="image" style={`background-image: url(${img.src});`}></div>

    <div class="details">
        <Tag name={post.tag} />

        <h2 class="title">{post.title}</h2>

        <p class="description">
            {post.excerpt}
        </p>
    </div>
</a>

<style lang="scss">
    @import 'src/lib/media';

    .postcard {
        display: flex;
        flex-direction: column;
        gap: 0px;

        min-width: 325px;
        width: 100%;

        @include media('<400px') {
            min-width: 200px;
            flex-shrink: 0;
            width: 100%;
        }

        color: var(--text);
        background-color: var(--background-secondary);
        border-radius: 12px;
        overflow: hidden;

        transition: box-shadow 0.2s ease-in-out;

        &:hover,
        &:active,
        &:focus {
            color: var(--text);
            text-decoration: none;
            background-color: var(--background-secondary);
            box-shadow:
                0 0 0 transparent,
                0 0 0 5px var(--primary);
        }

        .title {
            font-size: calc(1.275rem + 0.3vw);
            font-weight: 500;
        }

        .image {
            position: relative;
            width: 100%;
            height: auto;
            aspect-ratio: 2/1;
            background-position: 0% 50%;
            background-repeat: no-repeat;
            background-size: cover;

            transform: scale(1.04);
            border-radius: 12px 12px 0 0;
            box-shadow:
                -2px 1px 10px #000a inset,
                -2px 3px 20px #0006 inset,
                -7px 3px 3px #fff6 inset;
        }

        .details {
            display: flex;
            flex-direction: column;
            gap: 6px;

            padding: 18px;

            .description {
                color: rgba(var(--text-rgb), 0.5);
            }
        }
    }
</style>
