---
import { faEnvelope } from '@fortawesome/free-solid-svg-icons';
import Page from '$lib/layouts/Page.astro';
import Fa from 'svelte-fa';
import {
	faDiscord,
	faXTwitter,
	faBluesky,
	faMastodon,
	faGithub,
} from '@fortawesome/free-brands-svg-icons';
---

<Page>
	<section class="column g4">
		<h1>Contact</h1>

		<p class="row">
			<Fa icon={faDiscord} />
			<a
				target="_blank"
				href="https://discord.com/users/282839711834177537"
			>
				Discord (@willow_ghost)
			</a>
		</p>

		<p class="row">
			<Fa icon={faEnvelope} />
			<a target="_blank" href="mailto:ghostdevbusiness@gmail.com">
				ghostdevbusiness@gmail.com
			</a>
		</p>
	</section>

	<section class="column g4">
		<h1>Links</h1>

		<p class="row">
			<Fa icon={faBluesky} />
			<a target="_blank" href="https://bsky.app/profile/willow.sh">
				@willow.sh
			</a>
		</p>

		<p class="row">
			<Fa icon={faGithub} />
			<a target="_blank" href="https://github.com/ghostdevv">ghostdevv</a>
		</p>

		<p class="row">
			<Fa icon={faMastodon} />
			<a target="_blank" href="https://fosstodon.org/@onlyspaceghost">
				@onlyspaceghost@fosstodon.org
			</a>
		</p>

		<p class="row">
			<Fa icon={faXTwitter} />
			<a target="_blank" href="https://x.com/onlyspaceghost">
				@onlyspaceghost
			</a>
		</p>
	</section>
</Page>

<style lang="scss">
	@use 'include-media' as *;

	.devlounge {
		position: fixed;
		bottom: 32px;
		left: 50%;
		transform: translateX(-50%);

		width: calc(100% - 64px);
		max-width: 1400px;
		margin: 0 auto;

		.card {
			border-color: #cf4a4a;

			flex-direction: row;
			align-items: center;

			margin: 0 auto;

			@include media('<500px') {
				flex-direction: column;
				text-align: center;

				.meta {
					text-align: center;
					align-items: center;
				}
			}
		}
	}
</style>
