---
import { faPaypal, faPatreon } from '@fortawesome/free-brands-svg-icons';
import Donator from '$lib/components/Donator.astro';
import Page from '$lib/layouts/Page.astro';
import { getCollection } from 'astro:content';
import Fa from 'svelte-fa';

const current = await getCollection('supporters', (s) => s.data.active);
const past = await getCollection('supporters', (s) => !s.data.active);
---

<Page>
	<section>
		<h1>🥳 Sponsors</h1>

		<p style="max-width: 800px;">
			Thank you to everyone who's supported my work or is thinking about
			it! I'd also encourage you to checkout your other favourite tools
			sponsorship pages, or donate to a collective such as
			<a href="https://opencollective.com/antfu">Anthony Fu's</a> which share
			the donations in the community.
		</p>

		<div>
			<a
				title="Patreon"
				aria-label="Patreon"
				href="https://www.patreon.com/onlyspaceghost"
				target="_blank"
				class="button icon muted"
			>
				<Fa icon={faPatreon} />
			</a>

			<a
				title="PayPal"
				aria-label="PayPal"
				href="https://paypal.me/onlyspaceghost"
				target="_blank"
				class="button icon muted"
			>
				<Fa icon={faPaypal} />
			</a>
		</div>
	</section>

	<hr />

	<section class="column g16">
		<h3 style="font-size: calc(1.275rem + .3vw);">Current Supporters</h3>

		<div class="row wrap">
			{
				current
					.sort((a, b) => a.data.name.localeCompare(b.data.name))
					.map((p) => <Donator name={p.data.name} src={p.data.pfp} />)
			}
		</div>

		<h3 style="font-size: calc(1.275rem + .3vw);">Past Supporters</h3>

		<div class="row wrap">
			{
				past

					.sort((a, b) => a.data.name.localeCompare(b.data.name))
					.map((p) => (
						<Donator name={p.data.name} src={p.data.pfp} slim />
					))
			}
		</div>
	</section>
</Page>
