---
import Posts from '$lib/components/posts/Posts.astro';
import Page from '$lib/layouts/Page.astro';
import { HALLOWEEN } from '$lib/vars';
import Fa from 'svelte-fa';
import {
	faDiscord,
	faGithub,
	faMastodon,
	faXTwitter,
	faBluesky,
} from '@fortawesome/free-brands-svg-icons';
---

<Page>
	<section>
		<h1>
			👋{HALLOWEEN ? '🎃' : ''} Hey, I'm Willow
			<span class="aka">(aka GHOST)</span>
		</h1>

		<p>I am a fullstack web developer from the UK.</p>

		<div>
			<a
				title="Bluesky"
				aria-label="Bluesky"
				href="https://bsky.app/profile/willow.sh"
				target="_blank"
				class="button icon muted"
			>
				<Fa size="md" icon={faBluesky} />
			</a>

			<a
				title="GitHub"
				aria-label="GitHub"
				href="https://github.com/ghostdevv"
				target="_blank"
				class="button icon muted"
			>
				<Fa size="md" icon={faGithub} />
			</a>

			<a
				title="Discord"
				aria-label="Discord"
				href="https://discord.com/users/282839711834177537"
				target="_blank"
				class="button icon muted"
			>
				<Fa size="md" icon={faDiscord} />
			</a>

			<a
				title="Mastodon"
				aria-label="Mastodon"
				href="https://fosstodon.org/@onlyspaceghost"
				target="_blank"
				class="button icon muted"
				rel="me"
			>
				<Fa size="md" icon={faMastodon} />
			</a>

			<a
				title="X"
				aria-label="X"
				href="https://x.com/onlyspaceghost"
				target="_blank"
				class="button icon muted"
			>
				<Fa size="md" icon={faXTwitter} />
			</a>
		</div>
	</section>

	<Posts />
</Page>

<style>
	.aka {
		opacity: 0.6;
		font-size: 0.8rem;
	}
</style>
