---
import Project from '$lib/components/projects/Project.svelte';
import { getCollection } from 'astro:content';
import Page from '$lib/layouts/Page.astro';

const collection = await getCollection('projects');

const groups = Object.groupBy(
	collection.map((p) => p.data),
	(project) => project.category,
);

const { featured, misc, tooling, wip, archived, extension, library, worker } =
	groups;
---

<Page>
	<section>
		<h1>Projects</h1>

		<p>
			This is a list of all the projects I'm creating and/or maintaining.
		</p>
	</section>

	{featured && <Project category="featured" projects={featured} />}
	{library && <Project category="library" projects={library} />}
	{tooling && <Project category="tooling" projects={tooling} />}
	{extension && <Project category="extension" projects={extension} />}
	{worker && <Project category="worker" projects={worker} />}
	{wip && <Project category="wip" projects={wip} />}
	{misc && <Project category="misc" projects={misc} />}
	{archived && <Project category="archived" projects={archived} />}
</Page>
